body{
	text-align: center;
	background: #ececec;
	font-family: Tahoma, Geneva, sans-serif;
}

section{
	display: inline-block;
}

canvas{
	border:1px solid #000;
}

.processed-image {
	position: relative;
}

.loader {
	position: absolute;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	border-top: 3px solid #FFF;
	border-right: 3px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
